/* Footer.css */

footer {
  background-color: var(--color-gray-900);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the content vertically */
  align-items: center; /* Centers items horizontally */
  width: 100%;
  padding: 1rem 0;
  margin-top: auto; /* Pushes the footer to the bottom */
}

.footer__categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem auto;
  text-align: center;
}

.footer__categories a {
  background: var(--color-gray-700);
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  border-radius: 10px;
  transition: var(--transition);
}

.footer__categories a:hover {
  background: var(--color-white);
  color: var(--color-gray-900);
}

.footer__advertise {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: auto;
  padding: 10px 20px;
}

.footer__advertise a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  padding-left: 10px;
  padding-right: 10px;
}

.footer__advertise a:hover {
  color: #6F6AF8;
}

.footer__copyright {
  text-align: center;
  border-top: 2px solid var(--color-gray-700);
  padding: 1rem;
  color: var(--color-white);
  font-weight: 300;
  width: 100%;
}

.footer__copyright a {
  color: var(--color-white);
}
