/* Footer.css */

footer {
  background-color: var(--color-gray-900);
  min-height: 20vh; /* Use min-height instead of height for flexibility */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the content vertically */
  align-items: center; /* Centers items horizontally */
  width: 100%;
  padding: 1rem 0; /* Added padding to ensure content doesn't stick to the edges */
}

.footer__categories {
  display: flex;
  justify-content: center; /* Centers the categories horizontally */
  align-items: center;
  gap: 1.5rem;
  margin: 1rem auto; /* Center margin with auto */
  text-align: center; /* Center the list items horizontally */
}

.footer__categories a {
  background: var(--color-gray-700);
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  border-radius: var(--radius-2);
  transition: var(--transition);
}

.footer__categories a:hover {
  background: var(--color-white);
  color: var(--color-gray-900);
}

.footer__advertise {
  text-align: center;
  margin-top: 1rem; /* Adjust top margin as needed */
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 150px;
  height: 40px;
  border-radius: var(--radius-2); /* Optional: Add border-radius for a rounded appearance */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for depth */
}

.footer__advertise a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer__advertise a:hover {
  color: #6F6AF8; /* Change color on hover */
}

.footer__copyright {
  text-align: center;
  border-top: 2px solid var(--color-gray-700);
  padding: 1rem;
  color: var(--color-white);
  font-weight: 300;
  width: 100%;
}

.footer__copyright a {
  color: var(--color-white);
}
