.home {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 5rem;
    width: 100%;
  }
  
  .home__banner {
    width: 95%;
    height: auto;
    margin-bottom: 5rem;
    display: flex; /* Added to center the image */
    justify-content: center; /* Added to center the image */
  }
  
  .home__banner img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ensures the image fits within the banner area */
  }
  
  .home__section-title {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5em;
    color: #333;
    z-index: 1;
    padding: 0 10px;
}

.home__section-title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #F2D0F2, #ff96ff); /* Your gradient or image */
    width: 130%; /* Increase the width to make it bigger */
    height: 2.5rem; /* Increase the height to make it bigger */
    z-index: -1;
    border-radius: 10px;
}
  
  
  @media only screen and (max-width: 600px) {
    .home__banner {
      width: 95%;
      height: 350px;
      margin-bottom: 5rem;
      display: flex; /* Added to center the image */
      justify-content: center; /* Added to center the image */
    }
    
    .home__banner img {
      width: 100%;
      height: 100%; /* Update to height: 350px; for consistent height */
      object-fit: cover; /* Ensures the image covers the banner area */
      zoom: -25%;
    }
  }
  